aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
altgraph==0.17.3
appdirs==1.4.4
async-timeout==4.0.3
attrs==24.2.0
Automat==20.2.0
audioread==3.0.1
blinker==1.4
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.5
constantly==15.1.0
cryptography==37.0.4
datasets==2.21.0
decorator==5.1.1
dill==0.3.8
filelock==3.15.4
Flask==2.2.1
flask-cors
frozenlist==1.4.1
fsspec==2024.6.1
gTTS==2.5.3
googletrans==4.0.0-rc1
huggingface-hub==0.24.6
hyperlink==21.0.0
idna
incremental==21.3.0
itsdangerous==2.1.2
Jinja2==3.1.4
joblib==1.4.2
langdetect
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
MarkupSafe==2.1.5
more-itertools==10.4.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
networkx==3.2.1
numba==0.60.0
numpy==2.0.1
openai-whisper==20231117
Packaging==24.1
pandas==2.2.2
pep517==0.12.0
Pillow==9.2.0
platformdirs==4.2.2
pooch==1.8.2
py2app==0.28
pyarrow==17.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.22
pycryptodome==3.14.1
pyttsx3==2.90
pydub==0.25.1
python-dateutil==2.9.0.post0
python-dotenv==0.20.0
pytz==2024.1
PyYAML==6.0.2
queuelib==1.6.2
regex==2024.7.24
requests
safetensors==0.4.4
scikit-learn==1.5.1
scipy==1.13.1
semantic-version==2.10.0
service-identity==21.1.0
setuptools-rust==1.10.1
SpeechRecognition
six==1.16.0
soundfile==0.12.1
soxr==0.4.0
sympy==1.13.2
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.19.1
torch==2.4.0
tqdm==4.66.5
transformers
twisted==22.2.0
txaio==22.2.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==2.2.1
xxhash==3.5.0
yarl==1.9.4
zope.interface==5.4.0